 @use "./colors";


 /**** Texte & background (bg) *****/
 * {
     font-family: "Roboto", sans-serif;
 }

 /***** Small devices (phones, less than 768px) ****/
 /**** Texte & background (bg) *****/

 .main-restaurants {
width: 100%;
height:auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

 body {
     margin: 0;
     padding: 0;
 }

 header {
     display: flex;
     justify-content: center;
 }

 .header-logo {
     justify-content: center;
     display: flex;
     width: 200px;
     height: 40px;
 }

 #logo {
     max-width: 100%;
     font-size: 24px;
     justify-content: center;
     font-weight: bold;
 }

 .titre-resto h1 {
     display: flex;
     text-align: center;
     margin: 20px 50px 0px 50px;
     font-size: 20px;
     font-weight: bold;
     font-style: italic;
 }

 .titre-resto h2 {
     font-size: 16px;
     font-weight: 200;
 }

 .photo-resto {
     width: 100%;
     height: 270px;

     img {
         width: 100%;
         height: 270px;
         object-fit: cover;
     }
 }

 .page-menu {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: -50px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
     @media screen and (min-width: 1000px) {
             width: 70%;
         }
     }

 .liste-menus {
     padding: 0;
 }
 .entrees-plats-desserts {
    @media screen and (min-width: 1000px) {
        width: 70%;
    }

 }
 .coche {
     display: block;
     position: absolute;
     left: 100%;
     height: 100%;
     width: 60px;
     border-radius: 0 16px 16px 0;
     background-color: #99E2D0;
     opacity: 0;
     transition: all 0.3s ease-out;

     i {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 26px 16px 18px 20px;
         width: 6px;
         height: 6px;
         padding: 6px;
         border-radius: 50%;
         background-color: white;
     }

     .fa-check {
         color: #99E2D0;
         font-size: 10px;
     }
 }

 .card-restos {
     background-color: white;
     border-radius: 16px;
     display: flex;
     position: relative;
     cursor: pointer;
     box-shadow: 2px 1px 8px -3px #7e7e7e;
     box-sizing: border-box;
     margin-bottom: 2%;
     height: 72px;

     p {
         display: flex;
         flex-direction: row;
         margin: 0;
     }

     &:hover span {
         opacity: 1;
         transform: translateX(-60px);
         transition: all 0.3s ease-in-out;
     }

     &:hover .prix {
         opacity: 1;
         transform: translateX(-60px);
         transition: all 0.3s ease-in-out;
         margin-right: 5px;
     }
 }

 .card-info {
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
         }

     .titres-plats {
         width: 90%;
         gap: 7px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         padding-left: 10px;

         h3 {
             margin: 0;
         }
     }

     .prix {
         width: 10%;
         margin-right: 10px;
         font-weight: bold;
     }

 .palette .card-icons {
     position: relative;
     padding: 15px;

     & .empty {
         position: absolute;
         z-index: 3;
         color: black;
         font-size: 20px;
         opacity: 1;
         background-color: colors.$bg;

         &:hover {
             opacity: 0;
             transition: 200ms;
         }
     }

     & .full {
         z-index: 2;
         background: linear-gradient(colors.$rose, colors.$violet);
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
         font-size: 20px;
     }
 }

 .titre-resto {
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
 }

 button {
     flex-direction: row;
     margin: 20px 0px;
     padding: 15px;
     background: linear-gradient(#ff79da, #9356dc);
     color: white;
     border: #ff79da;
     border-radius: 25px;
     font-weight: 700;
     font-size: 16px;
     line-height: 17px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
 }