 @use "./colors";


 /**** Texte & background (bg) *****/
 * {
     font-family: "Roboto", sans-serif;
 }

 /***** Small devices (phones, less than 768px) ****/
 /**** Texte & background (bg) *****/

 body {
     margin: 0;
     padding: 0;
 }

 header {
     display: flex;
     justify-content: center;
 }

 .header-logo {
     justify-content: center;
     display: flex;
     width: 200px;
     height: 40px;
 }

 #logo {
     max-width: 100%;
     font-size: 24px;
     justify-content: center;
     font-weight: bold;
 }

 .titre-resto h1 {
    display: flex;
    text-align: center;
    margin: 20px 50px 0px 50px;
    font-size: 20px;
    font-weight: bold;
     font-style: italic;
  }
  
 .titre-resto h2 {
     font-size: 16px;
     font-weight: 200;
 }

 .photo-resto {
     width: 100%;
     height: 270px;

     img {
         width: 100%;
         height: 270px;
         object-fit: cover;
     }
 }

 .palette {
     background-color: colors.$gris;
     border-radius: 20px;
     margin-top: -50px;
     padding-top: 10px;
     position: relative;

 }

 .card-palette {
    background-color: white;
    display: flex;
    flex-direction: column;

    p{
        display: flex;
        flex-direction: row;
    }
 }
 .palette .card-icons {
    position: relative;
    padding: 15px;
  
    & .empty {
      position: absolute;
      z-index: 3;
      color: black;
      font-size: 20px;
      opacity: 1;
      background-color: colors.$gris;
  
      &:hover {
        opacity: 0;
        transition: 200ms;
      }
    }
  
    & .full {
      z-index: 2;
      background: linear-gradient(colors.$rose, colors.$violet);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 20px;
    }
}
.titre-resto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
