@use "./colors";
@use "./pages";
@use "./responsive";

@keyframes disappear {
  0% {
    opacity: 0.6;
  }

  90% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/

body {
  margin: 0;
  padding: 0;
  height: auto;
}

.loader-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 55%;
  z-index: 3000;
  background: white;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  animation: disappear 2s linear forwards;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

main {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  background-color: #dfdcdc;
  box-shadow: 2px 1px 6px 0px;
}

h2 {
  font-size: 16px;
  margin: 15px;
}

a {
  text-decoration: none;
}

.accueil {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: colors.$bg;
  padding-bottom: 20px;
  margin-top: 25px;

  p {
    margin: 25px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
  }
}

h1 {
  display: flex;
  text-align: center;
  margin: 20px 50px 0px 50px;
  font-size: 24px;
  font-weight: 800;
  @media screen and (min-width: 1000px) {
    font-size: 40px;
    gap: 30px;
  }
}

.card {
  width: 400px;
  height: 100%;
  margin-bottom: 15px;
  box-shadow: 2px 1px 4px 0px colors.$gris;
  border-radius: 5%;
  @media screen and (min-width: 1000px) {
    width: 420px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
  }
}

.card-img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;

  .nouveau {
    position: absolute;
    left: 70%;
    top: 3%;
    color: green;
    background-color: #99E2D0;
    padding: 2px;
    width: 60px;
    text-align: center;
    margin: 0;
  }

  .empty .full {
    position: absolute;
    left: 70%;

  }
}

/****** Accueil *******/
.button {
  flex-direction: row;
  margin: 20px 0px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: #ff79da;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    background-color: #ff79da;
    opacity: 0.8;
    transition: 0.7s;
  }
}

/****** Fonctionnement *******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  padding-left: 2%;

  h2 {
    font-size: 28px;
  }

  & ol {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 1440px) {
      flex-direction: row;
      font-size: 20px;
    }
    @media screen and (min-width: 1000px) {
      flex-direction: row;
    }
  }

  & .card {
    display: flex;

    & .icon {
      width: 20px;
    }
  }
}

.card-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  margin: 20px 40px 20px 0px;
  padding-left: 20px;
  width: 320px;
  align-items: center;
  @media screen and (min-width: 1440px) {
    width: 420px;
  }

  & .icon {
    width: 24px;
  }
}

.number {
  position: absolute;
  left: 10px;
  @media screen and (min-width: 1000px) {
    position: unset;
    margin-right: 10px;
  }
}

.fonctionnement-cards {
  display: flex;
  width: 100%;
  gap: 25px;
  align-items: center;
  border-radius: 20px;
  margin-left: 12px;
  justify-content: flex-start;

  .card-number {
    align-items: start;
  }

  .icon {
    margin-right: 20px;
    width: 24px;
  }

  p {
    margin: 0;
    font-size: 18px;
    @media screen and (min-width: 1440px) {
      font-size: 24px;
    }
  }
}

.fonctionnement .card {
  width: 90%;
  background: #f4f4f4;
}

.fonctionnement button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/****** Restaurants *******/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 55px 20px 65px 20px;
}

.restaurants {
  h1 {
    margin: 0;
    margin-bottom: 25px;
  }

  h2 {
    font-size: 28px;
  }
}

.liste-restos,
li {
  list-style-type: none;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
}

.restaurants-cards card {
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  width: 100%;
}

.restaurants-cards img {
  width: 100%;
  height: 160px;
  gap: 20px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.card-text {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin: 15px 0px;
}

.card-icons {
  position: relative;
  padding: 15px;

  & .empty {
    position: absolute;
    z-index: 3;
    color: black;
    font-size: 20px;
    opacity: 1;
    background-color: #fff;

    &:hover {
      opacity: 0;
      transition: 200ms;
    }
  }

  & .full {
    z-index: 2;
    background: linear-gradient(colors.$rose, colors.$violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 20px;
  }
}

.cardnumber-text {
  width: 195px;
  align-items: center;
@media screen and (min-width: 1440px) {
  width: 250px;
}
}


.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 190px;
  padding: 20px 0px 10px 0px;
  bottom: 0;
  flex-direction: column;
  background-color: colors.$anthracite;
  color: #fff;
}

.footer-logo {
  padding: 0px 20px;
}

.footer-liens {
  padding-left: 20px;
  line-height: 5%;

  li {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      color: #fff;
      font-weight: 300;
    }
  }
}

.icon-white {
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  height: 14px;
  width: 14px;
}
