@use "./colors";

/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/

body {
  margin: 0;
  padding: 0;
}

.header-logo {
  justify-content: center;
  display: flex;
  font-style: italic;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  background-color: colors.$beige;
  border-style: solid;
  border-bottom: #9356dc;
  border-top: #f4f4f4;

  h2 {
    font-size: 16px;
    padding-left: 3%;
  }
}

.accueil {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1 {
  display: flex;
  text-align: center;
  margin: 0px 50px 0px 50px;
  font-size: 20px;
  font-weight: 800;
}

p {
  margin: 0;
  font-size: 14px;
}

.card {
  width: 100%;
  height: 50px;
}

.card .card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/****** Accueil *******/
.accueil button {
  flex-direction: row;
  margin: 20px 0px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: #ff79da;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/****** Fonctionnement *******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  padding-left: 2%;

  & ol {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & .card {
    display: flex;

    & .icon {
      width: 20px;
    }
  }
}

.number {
  border-radius: 50%;
  border-color: #9356dc;
  padding-right: 1%;
}

.fonctionnement-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  align-items: center;
  border-radius: 20px;
  margin-left: 12px;
  justify-content: flex-start;
}

.fonctionnement cards {
  width: 90%;
  background: #f4f4f4;
}

.number {}

.fonctionnement button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/****** Restaurants *******/
.restaurants {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 55px 20px 65px 20px;
}

.restaurants h1 {
  margin: 0;
  margin-bottom: 25px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants-cards card {
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  height: 251px;
  position: relative;
  width: 490px;
}

.restaurants-cards img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.restaurants-cards .fa-heart {
  right: 25px;
  bottom: 33px;
}

.restaurants-cards .fa-regular {
  opacity: 1;
  z-index: 2;
  transition: all 200ms ease-in-out 100ms;
}

.fa-regular:hover {
  opacity: 0;
}