/***** 1 Small devices (phones, less than 768px) ****/
@use "./colors";


/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
  color: $colors.light-grey;
}


logo,
h1,
h2,
h3 {
  font-family: Shrikhand;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  width: 50%;
  height: 250px;

  & .card-img {
    width: 100%;

    img: {
      height: 230px;
      width: 150px;
      object-fit: cover;
    }
  }


}