@charset "UTF-8";
/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.titre-resto h1 {
  display: flex;
  text-align: center;
  margin: 20px 50px 0px 50px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.titre-resto h2 {
  font-size: 16px;
  font-weight: 200;
}

.photo-resto {
  width: 100%;
  height: 270px;
}
.photo-resto img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.palette .note .française .delice {
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top: -50px;
  padding-top: 10px;
  position: relative;
}

.liste-menus {
  padding: 0;
}

.card-restos {
  background-color: white;
  border-radius: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  box-sizing: border-box;
  margin-bottom: 2%;
  height: 72px;
}
.card-restos p {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-info .titres-plats {
  width: 90%;
  gap: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
}
.card-info .titres-plats h3 {
  margin: 0;
}
.card-info .prix {
  width: 10%;
  margin-right: 10px;
  font-weight: 500;
}

.palette .card-icons {
  position: relative;
  padding: 15px;
}
.palette .card-icons .empty {
  position: absolute;
  z-index: 3;
  color: black;
  font-size: 20px;
  opacity: 1;
  background-color: #f4f4f4;
}
.palette .card-icons .empty:hover {
  opacity: 0;
  transition: 200ms;
}
.palette .card-icons .full {
  z-index: 2;
  background: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}

.titre-resto {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  background-color: #f4f4f4;
  box-shadow: 10px 10px;
}

h2 {
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

.accueil {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding-bottom: 20px;
}
.accueil p {
  margin: 25px;
  font-size: 18px;
  justify-content: center;
  display: flex;
  text-align: center;
}

h1 {
  display: flex;
  text-align: center;
  margin: 20px 50px 0px 50px;
  font-size: 20px;
  font-weight: 800;
}

.card {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  box-shadow: 2px 1px 4px 0px #cecece;
  border-radius: 5%;
}

.card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.card-img .nouveau {
  position: absolute;
  left: 70%;
  top: 3%;
  color: green;
  background-color: #99E2D0;
  padding: 2px;
  width: 60px;
  text-align: center;
  margin: 0;
}
.card-img .empty .full {
  position: absolute;
  left: 70%;
}

/****** Accueil *******/
button {
  flex-direction: row;
  margin: 20px 0px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: #ff79da;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/****** Fonctionnement *******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  padding-left: 2%;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
.fonctionnement .card {
  display: flex;
}
.fonctionnement .card .icon {
  width: 20px;
}

.number {
  border-radius: 50%;
  padding-right: 1%;
  background-color: #9356dc;
  width: 35px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -10px;
  margin-right: 2%;
}

.fonctionnement-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  align-items: center;
  border-radius: 20px;
  margin-left: 12px;
  justify-content: flex-start;
}

.fonctionnement .card {
  width: 90%;
  background: #f4f4f4;
}

.fonctionnement button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/****** Restaurants *******/
.restaurants {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 55px 20px 65px 20px;
}

.restaurants h1 {
  margin: 0;
  margin-bottom: 25px;
}

.liste-restos,
li {
  list-style-type: none;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 45px;
}

.restaurants-cards card {
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  width: 100%;
}

.restaurants-cards img {
  width: 100%;
  height: 160px;
  gap: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.card-text {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin: 15px 0px;
}

.card-icons {
  position: relative;
  padding: 15px;
}
.card-icons .empty {
  position: absolute;
  z-index: 3;
  color: black;
  font-size: 20px;
  opacity: 1;
  background-color: #fff;
}
.card-icons .empty:hover {
  opacity: 0;
  transition: 200ms;
}
.card-icons .full {
  z-index: 2;
  background: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */