@charset "UTF-8";
/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.titre-resto h1 {
  display: flex;
  text-align: center;
  margin: 20px 50px 0px 50px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

.titre-resto h2 {
  font-size: 16px;
  font-weight: 200;
}

.photo-resto {
  width: 100%;
  height: 270px;
}
.photo-resto img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.palette .note .française .delice {
  background-color: #f4f4f4;
  border-radius: 20px;
  margin-top: -50px;
  padding-top: 10px;
  position: relative;
}

.liste-menus {
  padding: 0;
}

.coche {
  display: block;
  position: absolute;
  left: 100%;
  height: 100%;
  width: 60px;
  border-radius: 0 16px 16px 0;
  background-color: #99E2D0;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.coche i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50%;
  width: 5px;
  height: 5px;
  padding: 5px;
  border-radius: 50%;
  background-color: white;
}
.coche .fa-check {
  color: #99E2D0;
  font-size: 10px;
}

.card-restos {
  background-color: white;
  border-radius: 16px;
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  box-sizing: border-box;
  margin-bottom: 2%;
  height: 72px;
}
.card-restos p {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.card-restos:hover span {
  opacity: 1;
  transform: translateX(-60px);
  transition: all 0.3s ease-in-out;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-info .titres-plats {
  width: 90%;
  gap: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
}
.card-info .titres-plats h3 {
  margin: 0;
}
.card-info .prix {
  width: 10%;
  margin-right: 10px;
  font-weight: bold;
}

.palette .card-icons {
  position: relative;
  padding: 15px;
}
.palette .card-icons .empty {
  position: absolute;
  z-index: 3;
  color: black;
  font-size: 20px;
  opacity: 1;
  background-color: #f4f4f4;
}
.palette .card-icons .empty:hover {
  opacity: 0;
  transition: 200ms;
}
.palette .card-icons .full {
  z-index: 2;
  background: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}

.titre-resto {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

button {
  flex-direction: row;
  margin: 20px 0px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: #ff79da;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@keyframes disappear {
  0% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/**** Texte & background (bg) *****/
* {
  font-family: "Roboto", sans-serif;
}

/***** Small devices (phones, less than 768px) ****/
/**** Texte & background (bg) *****/
body {
  margin: 0;
  padding: 0;
  height: auto;
}

.loader-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 55%;
  z-index: 3000;
  background: white;
  opacity: 0.8;
  transform: translate(-50%, -50%);
  animation: disappear 2s linear forwards;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

main {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 40px;
}

#logo {
  max-width: 100%;
  font-size: 24px;
  justify-content: center;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  background-color: #dfdcdc;
  box-shadow: 2px 1px 6px 0px;
}

h2 {
  font-size: 16px;
  margin: 15px;
}

a {
  text-decoration: none;
}

.accueil {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding-bottom: 20px;
  margin-top: 25px;
}
.accueil p {
  margin: 25px;
  font-size: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
}

h1 {
  display: flex;
  text-align: center;
  margin: 20px 50px 0px 50px;
  font-size: 24px;
  font-weight: 800;
}

.card {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
  box-shadow: 2px 1px 4px 0px #cecece;
  border-radius: 5%;
}

.card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.card-img .nouveau {
  position: absolute;
  left: 70%;
  top: 3%;
  color: green;
  background-color: #99E2D0;
  padding: 2px;
  width: 60px;
  text-align: center;
  margin: 0;
}
.card-img .empty .full {
  position: absolute;
  left: 70%;
}

/****** Accueil *******/
.button {
  flex-direction: row;
  margin: 20px 0px;
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: #ff79da;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button:hover {
  background-color: #ff79da;
  opacity: 0.8;
  transition: 0.7s;
}

/****** Fonctionnement *******/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-start;
  gap: 25px;
  align-self: stretch;
  padding-left: 2%;
}
.fonctionnement h2 {
  font-size: 28px;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
.fonctionnement .card {
  display: flex;
}
.fonctionnement .card .icon {
  width: 20px;
}

.number {
  border-radius: 50%;
  padding-right: 1%;
  background-color: #9356dc;
  width: 35px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -10px;
  margin-right: 2%;
}

.fonctionnement-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 25px;
  align-items: center;
  border-radius: 20px;
  margin-left: 12px;
  justify-content: flex-start;
}

.fonctionnement .card {
  width: 90%;
  background: #f4f4f4;
}

.fonctionnement button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/****** Restaurants *******/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restaurants {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  padding: 55px 20px 65px 20px;
}

.restaurants h1 {
  margin: 0;
  margin-bottom: 25px;
}
.restaurants h2 {
  font-size: 28px;
}

.liste-restos,
li {
  list-style-type: none;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.restaurants-cards card {
  background: #fff;
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  width: 100%;
}

.restaurants-cards img {
  width: 100%;
  height: 160px;
  gap: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.card-text {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin: 15px 0px;
}

.card-icons {
  position: relative;
  padding: 15px;
}
.card-icons .empty {
  position: absolute;
  z-index: 3;
  color: black;
  font-size: 20px;
  opacity: 1;
  background-color: #fff;
}
.card-icons .empty:hover {
  opacity: 0;
  transition: 200ms;
}
.card-icons .full {
  z-index: 2;
  background: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 190px;
  padding: 20px 0px 10px 0px;
  bottom: 0;
  flex-direction: column;
  background-color: #353535;
  color: #fff;
}

.footer-logo {
  padding: 0px 20px;
}

.footer-liens {
  padding-left: 20px;
  line-height: 5%;
}
.footer-liens li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-liens li p {
  color: #fff;
  font-weight: 300;
}

.icon-white {
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
  height: 14px;
  width: 14px;
}

/* mediaqueries */
@media screen and (min-width: 600px) {
  footer {
    font-size: 20px;
    margin-left: 20px;
  }
  .footer-img {
    font-size: 110%;
  }
}
@media screen and (min-width: 1000px) {
  .footer .accueil .fonctionnement {
    font-size: 22px;
    margin-left: 30px;
  }
}/*# sourceMappingURL=style.css.map */